#settingsCog{
  height:2em;
  position:fixed;
  z-index:2;
  cursor:pointer;
  fill:grey;
  top:0.5em;
  left:0.5em;
}

.settings{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
}

.settings .option{
  padding:0 1em;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}

.sliderLabel{
  align-self: stretch;
}

.settings h2{
  text-align:center;
}